﻿@page "{id:int}"
@model WorldsWords.Pages.Words.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorldDict</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorldDict.English)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorldDict.English)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorldDict.Hungarian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorldDict.Hungarian)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorldDict.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
